﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.navbar {
    background: rgb(74,74,191);
    background: linear-gradient(21deg, rgba(74,74,191,0.7595238779105392) 20%, rgba(167,164,164,0.571848807882528) 70%, rgba(182,183,187,0.737114914325105) 79%, rgba(182,182,187,0.9808123933167017) 95%);
}
header {
    position: sticky;
    top: 0;
    background: linear-gradient(black, white);
}
label {
    font-weight:bold;
}
.mainHeader {
    padding-top: 20px;
    padding-bottom: 50px;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}
.navbar a:hover {
    background-color: rgba(102, 102, 102, 0.09);
}
.btn-primary {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.btn-primary:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
}

.btn-primary:active {
    position: relative;
    top: 1px;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png) repeat rgba(152, 151, 151, 0.18);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
h1 {
    padding-bottom:10px;
}