﻿@model jezykiInt.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<h1>Utwórz zgłoszenie</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label">Treść</label>
                <textarea asp-for="Text" class="form-control" text-wrap:normal" type="text" placeholder="Opisz swój problem..."></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">Typ zgłoszenia</label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<jezykiInt.Enums.TicketTypeEnum>()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zgłoś" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
