﻿@model jezykiInt.Models.View.TicketViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Zgłoszenie</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Email)
        </dd>
        <dt class="col-sm-2">
            Treść
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Text)
        </dd>
        <dt class="col-sm-2">
            Typ zgłoszenia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Type)
        </dd>
        <dt class="col-sm-2">
            Data utworzenia
        </dt>
        <dd class="col-sm-10">
            @Model.Ticket.DateCreated.ToString("g", System.Globalization.CultureInfo.CreateSpecificCulture("pl-PL"))
        </dd>
        <dt class="col-sm-2">
            Rozpatrzone
        </dt>
        <dd class="col-sm-10">
            @if (Model.Ticket.IsSolved)
            {
                <span style="color:green">Tak</span>
            }
            else
            {
                <span style="color:red">Nie</span>
            }
        </dd>
        @if (Model.Ticket.DateModified > DateTime.MinValue)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ticket.Comment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ticket.Comment)
            </dd>
            <dt class="col-sm-2">
                Data rozpatrzenia
            </dt>
            <dd class="col-sm-10">
                @Model.Ticket.DateModified.ToString("g", System.Globalization.CultureInfo.CreateSpecificCulture("pl-PL"))
            </dd>
        }
    </dl>
</div>

<div>
    @if (Model.IsAdmin)
    {
        <a asp-action="Edit" asp-route-id="@Model.Ticket.Id">Odpowiedz</a>
    }
    <a asp-action="Index">Powrót do listy</a>
</div>
