﻿@model jezykiInt.Models.Ticket

@{
    ViewData["Title"] = "Edit";
}

<h1>Odpowiedź na zgłoszenie</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <span>
                    @Html.DisplayFor(model => model.Email)
                </span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label">Treść</label>
                <p>
                    @Html.DisplayFor(model => model.Text)
                </p>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">Typ zgłoszenia</label>
                <span>
                    @Html.DisplayFor(model => model.Type)
                </span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label">Data utworzenia</label>
                <span>@Model.DateCreated.ToString("g", System.Globalization.CultureInfo.CreateSpecificCulture("pl-PL"))</span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSolved" /> Rozpatrzone
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label">Komentarz</label>
                <textarea asp-for="Comment" class="form-control" text-wrap:normal" type="text" placeholder="Wprowadź odpowiedź..."></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
