﻿@model jezykiInt.Models.View.TicketViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Zgłoszenia</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Szukaj zgłoszenia: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Szukaj" class="btn-primary" /> |
            <button class="btn-primary">
                <a asp-action="Index">Resetuj filtry</a>
            </button>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket.Email)
            </th>
            <th>
                <span>Treść</span>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Typ zgłoszenia</a>
            </th>
            <th>
                <span>Rozpatrzone</span>
            </th>
            <th>
                <span>Komentarz</span>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateCreatedSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Data utworzenia</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateModifiedSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Data rozpatrzenia</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tickets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @if (item.IsSolved)
                    {
                        <span style="color:green">Tak</span>
                    }
                    else
                    {
                        <span style="color:red">Nie</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <span>@item.DateCreated.ToString("g", System.Globalization.CultureInfo.CreateSpecificCulture("pl-PL"))</span>
                </td>
                <td>
                    <span>@item.DateModified.ToString("g", System.Globalization.CultureInfo.CreateSpecificCulture("pl-PL"))</span>
                </td>
                <td>
                    @if (Model.IsAdmin)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Odpowiedz</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Tickets.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Tickets.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.Tickets.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Poprzednia
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.Tickets.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Następna
</a>
