﻿@model jezykiInt.Models.View.TicketHomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mainHeader">
    <h1 class="display-4">Witamy w HelpDesku!</h1>
</div>

<h2>Najnowsze zgłoszenia</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                <span>Treść</span>
            </th>
            <th>
                <span>Typ zgłoszenia</span>
            </th>
            <th>
                <span>Rozpatrzone</span>
            </th>
            <th>
                <span>Komentarz</span>
            </th>
            <th>
                <span>Data utworzenia</span>
            </th>
            <th>
                <span>Data rozpatrzenia</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tickets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)...
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @if (item.IsSolved)
                    {
                        <span style="color:green">Tak</span>
                    }
                    else
                    {
                        <span style="color:red">Nie</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)...
                </td>
                <td>
                    <span>@item.DateCreated.ToString("g", System.Globalization.CultureInfo.CreateSpecificCulture("pl-PL"))</span>
                </td>
                <td>
                    <span>@item.DateModified.ToString("g", System.Globalization.CultureInfo.CreateSpecificCulture("pl-PL"))</span>
                </td>
                <td>
                    @if (Model.IsAdmin)
                    {
                        <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.Id">Rozpatrz</a>
                        <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    }
                    <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.Id">Szczegóły </a>
                </td>
            </tr>
        }
    </tbody>
</table>
