﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>O stronie</h1>

<p>Strona może służyć jako czyjś HelpDesk - użytkownicy zgłaszają swoje problemy, strona posiada jedno konto, które służy do zarządzania zgłoszeniami. Można je zamykać, odpowiadać, usuwać.</p>